<h1>Beers listing</h1>
<div class="toolbar">
    <input type="text" (keyup)="search()" [(ngModel)]="searchterm" placeholder="Search by tagline...">
    <img class="imgBtn" src="/assets/sort{{abvState}}.svg" alt="" title="Order by Abv" (click)="chageAbvState()">
    <img class="imgBtn" src="/assets/view{{viewType}}.svg" alt="" title="View as Grid" (click)="changeViewType()">
</div>
<div class="superContainer view{{viewType}}">
    <div *ngFor="let beer of beers" class="beersWrapper">
        <beer [id]="beer.id" [name]="beer.name" [abv]="beer.abv" [tagline]="beer.tagline" [image]="beer.image_url" [view]="viewType">
        </beer>
    </div>
    <div *ngIf="!beers.length" class="beersWrapper">
        <beer [id]="0" name="Not found" abv="0" tagline="Sorry! We couldn't find any beers for this search." image="/assets/sad.svg" >
        </beer>
    </div>
</div>
<div class="footer">
    <div class="prev" (click)="navigate(-1)">
        {{page > 1 ? 'Previous' : ''}}
    </div>
    <div>
        Page #{{page}}
    </div>
    <div class="next" (click)="navigate(1)">
        Next
    </div>
</div>